body{
  background-color: #000;
  font-family: "Chakra Petch", sans-serif;
}

p{
  font-size: 14px;
}

a{
  font-size: 14px;
  text-decoration: none;
  color: #d18a19;
}

a:hover{
  font-size: 14px;
  text-decoration: none;
  color: #d18a19;
}

.navbar.navbar-dark .nav-item .nav-link { 
  color: #ffffff!important; 
  background-color: #000000;
} 

.navbar.navbar-dark .nav-item .nav-link:hover { 
  color: #d18a19 !important; 
  background-color: #000000;
}

.navbar {
  background-color: #000000!important;
}

.navbar-nav {
  background-color: #000000;
}

.navbar-brand {
  background-color: #000000;
}

.navbar-nav{
  margin-top: 5px;
}

.navbar-dark .navbar-toggler {
  color: #d18a19 ;
  border-color: #d18a19 ;
  background-color: #d18a19 ;
}

.btn-brown{
  background-color: #d18a19;
  color: #fff;
  border-radius: 3px;
}

.btn-brown:hover{
  background-color: #d18a19 ;
  color: #fff;
  border-radius: 3px;
}

.btn-brown-outline{
  border-color: #d18a19;
  color: #d18a19;
  border-radius: 3px;
}

.btn-brown-outline:hover{
  border-color: #d18a19 ;
  color: #d18a19 ;
  border-radius: 3px;
}

.link{
  margin-left: 10px;
  margin-right: 10px;
}

.link:hover{
  margin-left: 10px;
  margin-right: 10px;
  color: #d18a19;
}

/*--Banner--*/
div.container.image{
  padding: 6em 0 0;
}

div.container.imageloc{
  padding: 4em 0 0;
}

.banner h2{
  padding-bottom: 20px;
}

.banner-1 h2{
  color: #c3c3c3;
  text-align: center;
  padding-top: 40px;
}

.banner{
background: url(../img/landing2.jpg) no-repeat 0px 0px;
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 500px;
padding-top: 50px;
}

.banner-2{
  background: url(../img/landing2.jpg) no-repeat 0px 0px;
  background-size:cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  min-height: 280px;
}

.cover{
  min-height: 500px;
  width: inherit;
  background: rgba(0,0,0,0.8)
}

.cover-1{
  min-height: inherit;
  width: inherit;
  background: rgba(0,0,0,0.8)
}

.cover-2{
  min-height: 280px;
  width: inherit;
  background: rgba(0,0,0,0.8)
}

.banner-1{
background: url(../img/landing2.jpg) no-repeat 0px 0px;
background-size:cover;
background-position: center;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 250px;
}

.banner a {
  font-size: 1em;
  color: #fff;
  font-weight: 600;
}

.banner a:hover {
  color: #fff;
}

.banner h2 {
  font-size:2.5em;
  font-weight: 600;
  color: #fff;
}

.banner {
  text-align: center;
}

.banner p {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.46);
  font-weight: 400;
  line-height: 1.8em;
  margin: 3em auto 1em;
  width: 70%;
}

small{
  color: #ffffff;
}

input.form-control {
  width: 50%;
  border-radius: 0px;
  height: 40px;
  border-radius: 3px;
  background-color: #202124;
  border-color: #202124;
  color: #ffffff;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff!important;
  background-color: #202124!important;
  background-clip: padding-box;
  border: 1px solid #202124!important;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.main-section{
  margin-top: 50px;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

/* Image Prperties */
.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #000000;
  background-clip: padding-box;
  border: 1px solid #000000;
  border-radius: 0.3rem;
  outline: 0;
}

.text-brown{
  color: #d18a19;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #000000;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff!important;
  text-shadow: 0 1px 0 #fff;
}

.close:hover {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff!important;
  text-shadow: 0 1px 0 #fff;
}

.swal-title {
  color: #000000;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #d18a19;
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #d18a19;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #202124;
  background-clip: border-box;
  border: 1px solid #d18a19;
  color: #ffffff;
  border-radius: 0.25rem;
}

.badge{
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px;
}

.all-pics{
  background-color: #d18a19;
  color: #ffffff!important;
  padding: 10px;
  max-width: 15%;
  border-radius: 8px;
}