body{
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}

p{
  font-size: 14px;
}

a{
  font-size: 14px;
  text-decoration: none;
  color: #c48f56;
}

a:hover{
  font-size: 14px;
  text-decoration: none;
  color: #c48f56;
}

.navbar.navbar-dark .nav-item .nav-link { 
  color: #ffffff!important; 
  background-color: #000000;
} 

.navbar.navbar-dark .nav-item .nav-link:hover { 
  color: #c48f56 !important; 
  background-color: #000000;
}

.navbar {
  background-color: #000000!important;
}

.navbar-nav {
  background-color: #000000;
}

.navbar-brand {
  background-color: #000000;
}

.navbar-nav{
  margin-top: 5px;
}

.navbar-dark .navbar-toggler {
  color: #c48f56 ;
  border-color: #c48f56 ;
background-color: #c48f56 ;
}

.btn-brown{
  background-color: #c48f56;
  color: #fff;
  border-radius: 0px;
}

.btn-brown:hover{
  background-color: #c48f56 ;
  color: #fff;
  border-radius: 0px;
}

.btn-brown-outline{
  border-color: #c48f56;
  color: #c48f56;
  border-radius: 0px;
}

.btn-brown-outline:hover{
  border-color: #c48f56 ;
  color: #c48f56 ;
  border-radius: 0px;
}

.link{
  margin-left: 10px;
  margin-right: 10px;
}

.link:hover{
  margin-left: 10px;
  margin-right: 10px;
  color: #c48f56;
}

/*--Banner--*/
div.container.image{
  padding: 6em 0 0;
}

div.container.imageloc{
  padding: 4em 0 0;
}

.banner h2{
  padding-bottom: 20px;
}

.banner-1 h2{
  color: #c3c3c3;
  text-align: center;
  padding-top: 40px;
}

.banner{
background: url(../img/landing2.jpg) no-repeat 0px 0px;
background-size:cover;
background-position: ;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 400px;
margin-top: 60px;
}

.cover{
  min-height: 450px;
  width: inherit;
  background: rgba(0,0,0,0.8)
}

.cover-1{
  min-height: inherit;
  width: inherit;
  background: rgba(0,0,0,0.8)
}

.banner-1{
background: url(../img/landing2.jpg) no-repeat 0px 0px;
background-size:cover;
background-position: center;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 250px;
}

.banner a {
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  padding: 0.8em 2em;
  background:#d18a19;
}

.banner a:hover {
  color: #fff;
  background: #000;
}

.banner h2 {
  font-size:2.5em;
  font-weight: 600;
  color: #fff;
}

.banner {
  text-align: center;
}

.banner p {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.46);
  font-weight: 400;
  line-height: 1.8em;
  margin: 3em auto 1em;
  width: 70%;
}

small{
  color: #ffffff;
}

input.form-control {
  width: 50%;
  border-radius: 0px;
  height: 40px;
  font-family: 'Font Awesome 5 Brands' !important;
}

.form-group{
  width: 50%;
}
/* End of Banner */