{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        {% include 'Navbar.html' %}
    </div>

    <!-- Landing Page -->
    <div class="banner">
        <div class="cover">
            <div class="container image">
                <h2 id="category">Photography is the story I fail to put into words.</h2>
                <form class="form" role="search" action="#">
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by category" name="image_category">
                    </div>
                    <br>
                    <small>Trending searches: fashion, travel, cars, people, technology, weather, houses, food</small>
                    <p class="text-light">I don’t trust words. I trust pictures.</p>
                    <button class="btn btn-brown btn-md">View All Pics</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div class="container-fluid main-section">
        <h1 class="text-center py-3 text-light">Featured Images</h1>
        <div class="row">
            {% if images %}
            {% for image in images %}
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="content">
                    <a href="{{ image.image.url }}" target="_blank">
                      <div class="content-overlay"></div>
                      <img src="{{ image.image.url }}" class="fluid img-thumbnail">
                      <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">{{ image.caption }}</h3>
                        <p class="content-text">{{ image.category }}</p>
                      </div>
                    </a>
                </div> 
            </div>
            {% endfor %}
            {% else %}
            <div class="col-sm-12" style="margin-top: 50px;">
                <div class="content text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: rgba(209, 138, 25, 1);transform: ;msFilter:;"><path d="M20 2H8c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zM8 16V4h12l.002 12H8z"></path><path d="M4 8H2v12c0 1.103.897 2 2 2h12v-2H4V8z"></path><path d="m12 12-1-1-2 3h10l-4-6z"></path></svg>
                    <br>
                    <h4 class="text-light py-3">No Images Uploaded</h4>
                </div> 
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">
            © Copyright 2022 Pikcha Planet
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    
{% endblock %}