{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        {% include 'Navbar.html' %}
    </div>

    <!-- Landing Page -->
    <div class="banner">
        <div class="cover">
            <div class="container image">
                <h2 id="category">Photography is the story I fail to put into words.</h2>
                <form class="form" role="search" action="#">
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by category" name="image_category">
                    </div>
                    <br>
                    <small>Trending searches: fashion, travel, cars, people, technology, weather, houses, food</small>
                    <p class="text-light">I don’t trust words. I trust pictures.</p>
                    <button class="btn btn-brown btn-md">View All Pics</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div class="container-fluid main-section">
        <h1 class="text-center py-3 text-light">Featured Images</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="content">
                    <a href="https://wallpaperaccess.com/full/6704676.jpg" target="_blank">
                      <div class="content-overlay"></div>
                      <img src="https://wallpaperaccess.com/full/6704676.jpg" class="fluid img-thumbnail">
                      <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                      </div>
                    </a>
                </div> 
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="content">
                    <a href="https://wallpaperaccess.com/full/3444207.jpg" target="_blank">
                      <div class="content-overlay"></div>
                      <img src="https://wallpaperaccess.com/full/3444207.jpg" class="fluid img-thumbnail">
                      <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                      </div>
                    </a>
                </div>    
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="content">
                    <a href="https://external-preview.redd.it/8OFOUnzpEj4o6diwYxFjcjLrvCUWjosB2eLlAj7EB9k.jpg?auto=webp&s=c3b3627da71fde5118186a7f2299ea25c26898f5" target="_blank">
                      <div class="content-overlay"></div>
                      <img src="https://external-preview.redd.it/8OFOUnzpEj4o6diwYxFjcjLrvCUWjosB2eLlAj7EB9k.jpg?auto=webp&s=c3b3627da71fde5118186a7f2299ea25c26898f5" class="fluid img-thumbnail">
                      <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="content">
                    <a href="https://wallpaperaccess.com/full/6704676.jpg" target="_blank">
                      <div class="content-overlay"></div>
                      <img src="https://wallpaperaccess.com/full/6704676.jpg" class="fluid img-thumbnail">
                      <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                      </div>
                    </a>
                </div> 
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="content">
                    <a href="https://wallpaperaccess.com/full/3444207.jpg" target="_blank">
                      <div class="content-overlay"></div>
                      <img src="https://wallpaperaccess.com/full/3444207.jpg" class="fluid img-thumbnail">
                      <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                      </div>
                    </a>
                </div>    
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="content">
                    <a href="https://external-preview.redd.it/8OFOUnzpEj4o6diwYxFjcjLrvCUWjosB2eLlAj7EB9k.jpg?auto=webp&s=c3b3627da71fde5118186a7f2299ea25c26898f5" target="_blank">
                      <div class="content-overlay"></div>
                      <img src="https://external-preview.redd.it/8OFOUnzpEj4o6diwYxFjcjLrvCUWjosB2eLlAj7EB9k.jpg?auto=webp&s=c3b3627da71fde5118186a7f2299ea25c26898f5" class="fluid img-thumbnail">
                      <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">This is a title</h3>
                        <p class="content-text">This is a short description</p>
                      </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}