{% extends "Base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        {% include 'Navbar.html' %}
    </div>

    <!-- Landing Page -->
    <div class="banner">
        <div class="cover">
            <div class="container image">
                <h2 id="category">Photography is the story I fail to put into words.</h2>
                <form class="form" role="search" action="#">
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by category" name="image_category">
                    </div>
                    <br>
                    <small>Trending searches: fashion, travel, cars, people, technology, weather, houses, food</small>
                    <p class="text-light">I don’t trust words. I trust pictures.</p>
                    <button class="btn btn-brown btn-md">View All Pics</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div class="container-fluid main-section">
        <h1 class="text-center py-3 text-light">Featured Images</h1>
        <div class="row">
            {% for image in images %}
            <div class="col-sm-6 col-md-4 mb-3">
                <div class="content">
                    <a href="{{ image.image.url }}" target="_blank">
                      <div class="content-overlay"></div>
                      <img src="{{ image.image.url }}" class="fluid img-thumbnail">
                      <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">{{ image.caption }}</h3>
                        <p class="content-text">{{ image.category }}</p>
                      </div>
                    </a>
                </div> 
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}